

.popup {
/*Фиксируем позизию окна и задаем размер на весь видимый экран*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
/*Затемнение фона*/
    background: rgba(0, 0, 0, .5);
/*Поверх всех окон*/
    z-index: 999;
/*Скрываем модальное окно и запрещаем реагировать*/
    display: none;
}

.popup:target {
/*При переходе по ссылке показываем модальное окно*/
    display: block;
}
