.card__name {
    margin: 0;
    padding: var(--card-padding);

    font-size: var(--card-name-font-size);
    font-weight: var(--card-name-font-weight);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    grid-row: 2 / 3;
}