

.profile__edit-button {
    border: 1px solid #FFFFFF;
    padding: 6px;

    width: 10px;
    height: 10px;

    position: absolute;
    right: -42px;
    bottom: 8px;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media (max-width: 1280px) {
    .profile__edit-button {
        padding: calc((100vw - 320px)/(1280 - 320)*(6 - 4) + 4px);

        width: calc((100vw - 320px)/(1280 - 320)*(10 - 7) + 7px);
        height: calc((100vw - 320px)/(1280 - 320)*(10 - 7) + 7px);

        right: calc((100vw - 320px)/(1280 - 320)*((-42) - (-28)) + (-28px));
        bottom: calc((100vw - 320px)/(1280 - 320)*(8 - 6) + 6px);
    }
}
