.profile__edit-button {
    margin: 0;
    padding: 0;

    border: var(--profile-edit-button-border);

    width: var(--profile-edit-button-width);
    height: var(--profile-edit-button-heght);

    background-image: url(../../../images/edit-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;

    flex: 0 0 auto;
}

.profile__edit-button:hover {
    opacity: .6;

    cursor: pointer;
}