.form-edit-profile__job-input {
    margin: 0 0 48px 0;
    padding: 0;

    width: 100%;

    font-size: var(--form-input-font-size);

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form-edit-profile__job-input:focus {
    outline: none;
}