.popup__close-button {
    margin: 0;
    padding: 0;

    width: var(--popup-close-button-width);
    height: var(--popup-close-button-height);

    position: absolute;
    top: -40px;
    right: var(--popup-close-button-position-right);

    border: none;

    background-image: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

.popup__close-button:hover {
    opacity: .6;

    cursor: pointer;
}