

.popup__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
/*Рамеры модального окна*/
    box-sizing: border-box;
    width: 430px;
    height: 330px;
/*Позиционирование по центру экрана*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
/*Внутренние отступы*/
    padding: 36px;
/*Скругляем углы*/
    border-radius: 10px;
/*Цвет фона окна*/
    background-color: #FFFFFF;
/*Тень окна*/
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
}

@media (max-width: 1280px) {
    .popup__container {
        width: calc((100vw - 320px)/(1280 - 320)*(430 - 282) + 282px);
        height: calc((100vw - 320px)/(1280 - 320)*(330 - 290) + 290px);

        padding: calc((100vw - 320px)/(1280 - 320)*(36 - 22) + 22px);
    }
}