.profile__subtitle {
    font-weight: 400;
    font-size: calc((100vw - 320px)/(1280 - 320)*(18 - 14) + 14px);
    color: #FFFFFF;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 560px) {
    .profile__subtitle {
        text-align: center;
    }
}