.profile {
    margin: 0 auto var(--profile-margin-bottom);
    padding: 0 var(--profile-padding-left-right);

    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: center;
    align-items: center;
}