

.element__block {
    display: block;
    margin: 25px auto 31px;
    padding: 0;
    background-color: #FFFFFF;

    max-width: 90%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}