.profile {
    margin: 0 auto;
    margin-bottom: calc((100vw - 320px)/(1280 - 320)*(50 - 36) + 36px);

    max-width: calc((100vw - 320px)/(1280 - 320)*(880 - 282) + 282px);

    display: flex;
    flex-wrap: wrap;
    gap: 26px 30px;
    justify-content: center;
    align-items: center;
}