.popup__close {
    margin: 0;
    padding: 0;

    width: calc((100vw - 320px)/(1280 - 320)*(32 - 20) + 20px);
    height: calc((100vw - 320px)/(1280 - 320)*(32 - 20) + 20px);

    position: absolute;
    top: -40px;
    right: calc((100vw - 320px)/(1280 - 320)*((-40) - 0) + 0px);

    background-image: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

    border: none;
}

.popup__close-button:hover {
    opacity: .7;

    cursor: pointer;
}