.profile__title {
    margin: 0;
    padding: 0;

    font-size: var(--profile-title-font-size);
    font-weight: var(--profile-title-font-weight);
    color: var(--profile-title-font-color);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}