.profile__add-button {
    padding: 0;
    border: var(--profile-add-button-border);
    
    width: var(--profile-add-button-width);
    height: var(--profile-add-button-heght);

    background-image: url(../../../images/add-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;

    flex: 1 1 auto;
}

.profile__add-button:hover {
    opacity: .6;

    cursor: pointer;
}