.profile__info-wrapper {
    margin: 0 0 15px 0;
    padding: 0;

    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    align-items: baseline;
}

@media (max-width: 560px) {
    .profile__info-wrapper {
        justify-content: center;
    }
}