.profile__edit-button {
    padding: 0;

    border: none;
    outline: 1px solid #FFFFFF;
    
    width: calc((100vw - 320px)/(1280 - 320)*(24 - 18) + 18px);
    height: calc((100vw - 320px)/(1280 - 320)*(24 - 18) + 18px);

    background-image: url(../../../images/edit-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}

.profile__edit-button:hover {
    opacity: .7;

    cursor: pointer;
}