.profile__title {
    margin: 0;

    font-weight: 500;
    font-size: calc((100vw - 320px)/(1280 - 320)*(42 - 27) + 27px);
    color: #FFF;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}