.form-add-place__name-place {
    margin: 0 0 30px 0;
    padding: 0;

    width: 100%;

    font-size: var(--form-input-font-size);

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form-add-place__name-place:focus {
    outline: none;
}