.card {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: var(--card-background-color);

    border-radius: var(--card-border-radius);

    overflow: hidden;

    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 282px auto;

    position: relative;
}