.card {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: #FFFFFF;

    border-radius: 10px;

    overflow: hidden;

    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    grid-template-rows: 282px min-content min-content;
    gap: 10px 10px;
    grid-template-areas:
        "Link Link"
        "Name Heart"
        "Name Like";

    position: relative;
}