.profile__profile-info {
    display: block;
    margin: 0;
    padding: 0;

    width: 282px;

    flex: 200 1 auto;
}

@media (max-width: 560px) {
    .profile__profile-info {
        margin-bottom: 10px;
    }
}