.profile__avatar {
    width: 120px;
    height: 120px;

    background-image: url(../../../images/avatar.jpg);
    background-position: center center;
    background-size: cover;

    border-radius: 60px;
}

.profile__avatar:hover {
    opacity: 0.3;
    
    cursor: url("../../../images/pen.svg"), pointer;
}