

.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;

    text-decoration: none;
}
    
.popup__close-button:hover {
    opacity: .6;
}

@media (max-width: 1280px) {
    .popup__close-button {
        right: calc((100vw - 320px)/(1280 - 320)*((-40) - 0) + 0px);
    }
}
