.popup__close-button {
    margin: 0;
    padding: 0;

    width: 32px;
    height: 32px;

    position: absolute;
    top: -40px;
    right: -40px;

    background-color: transparent;

    border: none;
}

.popup__close-button:hover {
    opacity: .6;

    cursor: pointer;
}

@media (max-width: 1280px) {
    .popup__close-button {
        width: calc((100vw - 320px)/(1280 - 320)*(32 - 20) + 20px);
        height: calc((100vw - 320px)/(1280 - 320)*(32 - 20) + 20px);

        right: calc((100vw - 320px)/(1280 - 320)*((-40) - 0) + 0px);
    }
}

