.form-add-place__name-place-input {
    margin: 0 0 30px 0;
    padding: 0;

    width: 100%;

    font-size: var(--form-input-font-size);

    border: none;
    border-bottom: var(--form-input-border-bottom);
}

.form-add-place__name-place-input:focus {
    outline: none;
}

.form-add-place__name-place_error {
    border-bottom: 1px solid red;
}