

:root {
/* Свойства для header logo */
    --header-logo-width: calc((100vw - 320px)/(1280 - 320)*(142 - 104) + 104px);
    --header-logo-height: calc((100vw - 320px)/(1280 - 320)*(34 - 24) + 24px);
    --header-logo-margin-bottom: calc((100vw - 320px)/(1280 - 320)*(40 - 30) + 30px);
    --header-logo-padding-top: calc((100vw - 320px)/(1280 - 320)*(45 - 28) + 28px);
    --header-logo-padding-left: calc((100vw - 320px)/(1280 - 320)*(0 - 28) + 28px);
/* Свойства для cards */
    --cards-margin-bottom: calc((100vw - 320px)/(1280 - 320)*(66 - 48) + 48px);
    --cards-padding-left-right: calc((100vw - 320px)/(1280 - 320)*(0 - 19) + 19px);
/* Свойства для footer */
    --footer-margin-bottom: calc((100vw - 320px)/(1280 - 320)*(60 - 36) + 36px);
    --footer-font-size: calc((100vw - 320px)/(1280 - 320)*(18 - 14) + 14px);
    --footer-padding-left-right: calc((100vw - 320px)/(1280 - 320)*(0 - 19) + 19px);
    --footer-font-color: #545454;
}

.pages {
    display: block;
    margin: 0 auto;
    padding: 0;

    max-width: 880px;
    min-width: 320px;

    background-color: #000;

    font-family: Inter, sans-serif;
    font-style: normal;
}