.card__trash {
    position: absolute;
    top: var(--card-trash-position-top);
    right: var(--card-trash-position-right);

    width: var(--card-trash-width);
    height: var(--card-trash-height);

    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    background-color: transparent;

    border: none;
}

.card__trash:hover {
    opacity: .6;

    cursor: pointer;
}