.card__heart {
    margin: 0;
    padding: 0;

    width: var(--card-heart-width);
    height: var(--card-heart-height);

    background-image: url("./../../../images/heart-icon.svg");
    background-repeat: no-repeat;
    background-color: #FFF;

    border: none;

    justify-self: center;
    align-self: center;
}

.card__heart:hover {
    opacity: .5;

    cursor: pointer;
}