.card__heart {
    margin: 0;
    padding: 0;

    width: 22px;
    height: 19px;

    background-image: url("./../../../images/heart-icon.svg");
    background-repeat: no-repeat;

    border: none;

    background-color: #FFF;

    justify-self: center;
    align-self: end;

    grid-area: Heart;
}

.card__heart:hover {
    opacity: .5;

    cursor: pointer;
}